{% extends "bookings/base.html" %}
{% block title %} Seat booking {% endblock %}
{% block content %}
    <h1>
        <div class="row">
            <div class="col-3"></div>
            <span class="badge text-bg-secondary col-3 border border-white">Available Seats</span>
            ->
            <span class="badge text-bg-secondary col-3 border border-white"> {{ Movie.title }} </span>
        </div>
    </h1>
    {% for seat in Seats %}
        <div class="row">
            <div class="col-4"></div>
            <div class="btn-group col-4 border border-white" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Seat {{ seat.seat_number }}</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}